body{
    text-align: center;
    background-color: brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:x-large;
}

#submit {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: whitesmoke;
    background-color:rgb(205, 133, 50);
    border: none;
    border-radius: 16px;
    margin-top: 5rem;
    
  }

  #degrees{
      padding-left: 4rem;
      text-align: left;
  }